// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-black: #333333;
$color-base-white: #ffffff;
$color-base-gold: #8f8a55;
$color-point-red: #e65036;
$color-base-red: #e4007f;
$color-card-red: #d61f6d;
$color-card-yellow: #c8ce2e;
$color-card-blue: #3794c4;



$breakpoint-xl: 1600px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 769px;
$breakpoint-xs: 480px;